# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/api_limiter?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# App
NODE_ENV="development"
NEXT_PUBLIC_API_URL="http://localhost:3000"
